.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.faq-list {
  list-style: none;
  padding: 0;
  border: 1px solid rgba(108, 123, 138, 0.2);
}

.faq-list .faq-item + .faq-item {
  border-top: 1px solid rgba(108, 123, 138, 0.2);
}
.collapsible-header {
  padding: 5px;
  cursor: pointer;
}
.collapsible-header:hover {
  color: #d10000;
}
.faq-item .collapsible-header::before {
  content: '▶';
  display: inline-block;
}
.faq-item.active .collapsible-header::before {
  content: '▼';
  color: #d10000;
}
.faq-item.active .collapsible-header h4 {
  color: #d10000;
}
.collapsible-header h4 {
  display: inline-block;
  margin: 0;
}
.collapsible-body {
  border-top: 2px dashed #d10000;
  padding: 10px;
}
.collapsible-body p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
